# dependencies
/node_modules
/.pnp
.pnp.*

# testing
/coverage
/playwright-report
/test-results

# next.js
/.next/
/out/

# production
/build

# local
.DS_Store
*.pem
.superpowers/
.npm-cache/

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env
.env*
!.env.example

# typescript
*.tsbuildinfo
